<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594042608398-jj0uvoga7a8epkkc7keenodkvp6sou1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594042608398-jj0uvoga7a8epkkc7keenodkvp6sou1s</string>
	<key>API_KEY</key>
	<string>AIzaSyBM8Sy-Tk5BRvYCPUrhCGhhUZpxzosOUjs</string>
	<key>GCM_SENDER_ID</key>
	<string>594042608398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nihad.posts</string>
	<key>PROJECT_ID</key>
	<string>posts-228d0</string>
	<key>STORAGE_BUCKET</key>
	<string>posts-228d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594042608398:ios:2090c36216f13a9dee955f</string>
	<key>DATABASE_URL</key>
	<string>https://posts-228d0.firebaseio.com</string>
</dict>
</plist>